.nav {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    height: 24px;
    align-items: center;
    padding: 0% 10%;
    margin-top: 48px;
}

.nav__link {
    border-style: solid;
    border-color: #40513B;
    border-width: 2px 2px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #40513B;
    transition: all 300ms ease;
}

.nav__link:hover{
    background-color: #E1ECC8;
}

